/* Small phones to small tablets: from  481 to 646px */

@media screen and (min-width: 481px) and(max-width: 646px) {
  #projects .btn {
    font-size: x-small;
    width: 10px;
  }
  .moments li img {
    width: 80%;
  }
}
/* Small screen*/
@media screen and (max-width: 834px) {
  .top-container {
    display: none;
  }
  .collapse-nav-icon {
    display: inline-block;
  }
  .topnav {
    display: none;
  }
  .topnav {
    text-align: center;
  }
  .topnav li {
    display: block;
    text-align: center;
  }
  .topnav li a:link,
  .topnav li a:visited {
    display: block;
    border: 0;
    text-align: center;
    padding: 1px 0;
  }

  .topnav a:active,
  .topnav a:hover {
    background-color: #c78891b6;
    color: #fff;
    transition: color 0.2s, background-color 0.2s;
    width: 100%;
  }
  #about {
    margin-top: 10px;
  }
}

@media screen and (max-width:737px){
  .project{
    display: block;
  }
}
